@font-face {
    font-family: 'duepuntozero';
    src: url('fonts/duepuntozero.eot');
    src: local('☺'), 
    url('fonts/duepuntozero.woff') format('woff'), 
    url('fonts/duepuntozero.ttf') format('truetype'), 
    url('fonts/duepuntozero.svg#webfont3cCjKGua') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #090909 url(images/background2.jpg) top center no-repeat;
}

a {
    font-family: duepuntozero,Arial,Helvetica,sans-serif;
    color:#5d5d5d;
    font-weight:bold;
}

h1 {
    width: 820px;
    max-width: 98%;
    margin: auto;
    font-size: 0;
    background: url(images/uncreated.06.jpg) bottom center no-repeat;
}

h1 a {
    margin-top: 10px;
    height: 180px;
    display: block;
}

h2 {
    font-family: duepuntozero,Arial,Helvetica,sans-serif;
    padding-left: 40px;
    font-size: 24pt;
    margin-top: 40px;
    letter-spacing: 2px;
}

h3 {
    font-family: duepuntozero,Arial,Helvetica,sans-serif;
}

.motto {
    text-align:center;
    width:100%;
    font-style: italic;
    font-weight:bold;
    letter-spacing: 3px;
    margin-top:15px;
    color:#555;
    font-size:1.1em;
}

img {
    max-width: 98%;
}

.frame img {
    max-width: 100%;
    }

a img {
    border: none;
}

ul {
    padding: 20px;
}

#wrapper {
    width: 820px;
    margin: auto;
    font-family: Arial,sans-serif;
    font-size: 12pt;
    background: #ffffff;
    color: #000e25;
    border-radius: 2px;
    opacity: 0.8;
    max-width: 95%;
    box-shadow: 0px 0px 5px 5px #333;
}

#fbouc {
    width: 820px;
    margin: auto;
    min-height: 20px;
}

.fb_iframe_widget, #___plusone_0 {
    float: left !important;
    max-width: 350px;
}

#menu, #contents, #footer, #slider {
    clear: both;
    padding: 5px 10px 5px 0;
}

.trad {
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    letter-spacing: 1px;
}

.headlines {
    padding-left: 40px;
    max-width: 700px;
}

#menu {
    margin: 20px 0 0 20px;
    padding: 10px 0 0 0;
    opacity: 1.0;
}

#menu li {
    display: inline;
    float: left;
    position: relative;
}

#menu li a {
    width: 170px;
    height: 30px;
    background: -moz-linear-gradient(100% 100% 90deg, #dddddd, #ffffff);
    background: -webkit-linear-gradient(#ffffff, #dddddd);
    border: 1px solid #dadada;
    border-radius: 2px;
    color: #222222;
    font-family: duepuntozero,Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 0 10px;
    display: block;
    margin-right: 17px;
    text-decoration: none;
    min-height: 35px;
}

#menu li ul {
    position: absolute;
    z-index: 500;
    top: 45px;
    padding: 0;
    visibility: hidden;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    width: 180px;
}

#menu li ul li {
    display: list-item;
    list-style-type: none;
    background: #ffffff;
}

#menu li ul li a {
    border: none;
    border-radius: 0px;
    background: #ffffff !important;
    font-size: 1.2em;
    padding: 3px 2px 3px 2px;
    margin: 0;
    height: 46px;
    width: 176px;
}

#menu li ul li a span {
    padding: 5px;
    margin-top: 5px;
    height: 20px;
    display: block;
}

#menu li ul li a small {
    margin-top: 10px;
    padding: 5px;
    height: 20px;
    display: block;
    width: 115px;
    float: left;
}

#menu li ul li a img {
    width: 176px;
    height: 48px;
    /* opacity: 0.5; */
}

#menu li ul li a img.icon {
    width: 48px;
    float: right;
}

#menu li ul li a:hover img {
    opacity: 0.0;
}

#menu li ul li a:hover .overlay2 {
    display: block;
}

#menu li:hover a {
    background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #dddddd);
    background: -webkit-linear-gradient(#dddddd, #ffffff);
}

#menu li:hover ul {
    visibility: visible;
}

.overlay {
    position: relative;
    top: -53px;
    z-index: 3;
}

.overlay2 {
    position: relative;
    z-index: 3;
    /*top: -20px;
    color: #fff;
    text-shadow: 0 0 3px #333;*/
    top: -35px;
    display: none;
    font-size: 1em;
    text-align: left;
    font-style: normal;
    padding-left: 5px;
}

#slider {
    text-align: right;
    font-size: x-small;
    min-height: 200px;
    padding-top: 20px;
    opacity: 1.0;
    color: #888888;
}

#slider a img {
    width: 800px;
    max-width: 98%;
    max-height: 294px;
    border-radius: 2px;
    margin-bottom: 4px;
}
   
#footer {
    text-align: center;
    font-size: 0.6em;
    margin-top: 8px;
}

#footer a {
    font-family: Arial,sans-serif;
}

.cr {
    background: #888888;
    color: #ffffff;
    padding: 1px 3px;
    border-radius: 2px;
}

#outermenu {
    height: 300px;
    overflow: hidden;
}

#innermenu {
    position: relative;
}

.arrow-li {
    width: 100px;
    padding: 2px 0 2px 80px;
}

.arrow-up {
    width:0px; 
    height:0px; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid  #000e25;
    font-size:0px;
    line-height:0px;
}

.arrow-down {
    width:0px; 
    height:0px; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000e25;
    font-size:0px;
    line-height:0px;
}

.portugues, .ingles {
    width: 380px;
    float: left;
    padding: 8px;
    text-align: justify;
    margin: 8px 0;
    max-width: 92%;
}

.ingles, .ingles-intra {
    color: #888888;
    font-style: italic;
}

.ingles-intra {
    float: right;
}

#content {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 8px;
    clear: both;
}

#content img {
    margin-top: 18px;
}

.date {
    font-family: duepuntozero,Arial,Helvetica,sans-serif;
    font-size: 10px;
    float: right;
    margin: 40px 16px 0 50px;
    color: #888888;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
}

.tweet .date {
    margin: 0,0,0,0;
}

.date img {
    margin-top: -6px !important;
    }

.tweet {
    margin-bottom: 15px;
    padding: 8px;
    background: -moz-linear-gradient(100% 100% 90deg, #dddddd, #ffffff);
    background: -webkit-linear-gradient(#ffffff, #dddddd);
    border: 1px solid #dadada;
    border-radius: 2px;
    clear: both;
    min-height: 50px;
    width: 760px;
    margin-left: 15px;
    max-width: 93%;
}

.tweet .author {
    float: left;
    margin-right: 10px;
}

.tweet .icon {
    margin-top: 0px !important;
    border-radius: 2px;
}

.tweet a {
    font-family: Arial,sans-serif;
    font-weight: normal;
}

.blogheader {
    display: none;
}

.blogcontents {
    text-align: justify;
    padding: 8px;
}

#contactinfo {
    visibility: hidden;
    position: absolute;
    top: 550px;
    height: 120px;
    width: 720px;
    text-align: right;
    z-index: 400;
}

#contact:hover #contactinfo {
    visibility: visible;
}

.note {
    background: #eee;
    border-radius: 3px;
    padding: 5px;
    display: table;
}
  
.hometable {
    width: 800px;
    padding: 20px 0 0 0;
    margin: 0 0 0 10px;
    table-layout: fixed;
}

.hometable td {
    padding: 0;
    max-width: 95%;
    float: left;
}

.hometable img {
    max-width: 100%;
}
    
.hometable tr.spacer {
    height: 0;
}

.hometable td.spacer {
    width: 0;
}

.text-index {
    width: 200px;
    float: left;
}

.text-index a {
    clear: both;
    margin-bottom: 10px;
    display: block;
}
    
.text-content { 
    width: 580px;
    padding: 0 15px;
    float: right;
    text-align: justify;
}

.text-article {
    margin-bottom: 25px;
}

.text-signed {
    color: #888888;
    font-size: 0.9em;
} 

@media screen and (max-width: 799px) {

    table, tbody {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }
}
